<div class="container">
    <style>
        .bigbtn {
            border-style: solid;
            border-color: aliceblue;
            background-color: #F3F3F3;
            width: 100%;
            margin: 1em;
            height: 10em;
            line-height: 10em;
            color: black;
            text-align: center;
            font-size: x-large;
        }       
    </style>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bigbtn"><a routerLink="/regatas">Régates</a></div>
        </div>


        <div class="col-md-6">
            <div class="bigbtn">Race maps</div>
        </div>
    </div>


    <div class="row">
        <div class="<col-md-12></col-md-12>">
            <div class="bigbtn">Devices</div>
        </div>
    </div>
</div>