<div class="container">
    <br />
    <style>
        .material-box a {
            color: black;
        }
    </style>
    
    <div class="row">
        <div class="col-xs-6 animated fadeInLeft">
            <div class="material-box material-box-big material-box-regatas"><a routerLink="regatas">Régates</a></div>
        </div>


        <div class="col-xs-6 animated fadeInRight">
            <div class="material-box material-box-big material-box-maps">Cartes</div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 animated fadeInUp">
            <div class="material-box material-box-big material-box-devices"><a routerLink="devices">Devices</a></div>
        </div>
    </div>

    <br />
</div>