<div class="container animated fadeInUp">
    <breadcumb
        [labels]="['Dashboard', 'Devices']"
        [routes]="[['/dashboard'], ['/dashboard/devices']]"
    >
    </breadcumb>
    
    <!-- Low power devices -->
    <div class="material-box material-box-fit animated fadeIn">
        <div class="material-box-title">Actions</div>

        <div class="btn-group" role="group">
            <button class="btn btn-default" (click)="addNewDevice()">
                <span class="glyphicon glyphicon-plus"></span> Ajouter
            </button>
            <button class="btn btn-default" type="button" (click)="saveDevice()" [disabled]="!hasCurrentDevice()">
                <span class="glyphicon glyphicon-check"></span> Enregistrer
            </button>
            <button class="btn btn-danger" (click)="removeCurrentDevice()" [disabled]="!hasCurrentDevice()">
                <span class="glyphicon glyphicon-remove"></span> Supprimer
            </button>
        </div>
                
    </div>

    <device-list #devList [devices]="devices"></device-list>
    
    <!-- Low power devices -->
    <div class="material-box material-box-fit animated fadeIn" *ngIf="lowPowerDevices.length != 0">
        <div class="material-box-title">Low power devices ({{ lowPowerDevices.length}})</div>
        <div class="">
            <button class="btn btn-danger btn-sm animated fadeIn" style="margin-right: 10px; margin-bottom: 10px;" *ngFor="let device of lowPowerDevices" (click)="setDevice(device)">
                <strong>{{ device.name }}</strong> - {{ device.batteryLevel }}%
            </button>
        </div>
    </div>
    
    <div class="material-box material-box-fit animated fadeIn" *ngIf="activeDevices.length != 0">
        <div class="material-box-title">Active devices ({{ activeDevices.length }})</div>
        <button class="btn btn-default btn-sm animated fadeIn" style="margin-right: 10px; margin-bottom: 10px;" *ngFor="let device of activeDevices" (click)="setDevice(device)">
            <strong>{{ device.name }}</strong> - {{ device.batteryLevel }}%
        </button>
    </div>

    <div class="material-box material-box-fit animated fadeIn" *ngIf="newDevices.length != 0">
        <div class="material-box-title">New devices ({{ newDevices.length }})</div>
        <button class="btn btn-default btn-sm animated fadeIn" style="margin-right: 10px; margin-bottom: 10px;" *ngFor="let device of newDevices" (click)="setDevice(device)">
            {{ device.identifier }} 
        </button>
    </div>

</div>