<div>
    <style>
        .battery-container {
            border-color: #E0E0E0;
            border-width: 2px;
            border-style: solid;
            background-color: #FAFAFA;
            width: 100%;
            height: 2em;
            padding: 0.25em;
            border-radius: 10px;
            box-shadow: 2px 2px 7px #E8E8E8;
        }

        .battery-inner {
            vertical-align: text-bottom;
            height: 100%;
            text-align: center;
            overflow: hidden;
            line-height: 1.3em;
            border-radius: 10px;
        }

    </style>
    <div class="material-box material-box-fit">
        <div class="material-box-title">Devices</div>
        <div class="form-group">
            <select class="form-control" [(ngModel)]="currentDevice">
                <option *ngFor="let device of devices; let i = index" [value]="i">{{device.hwid}} - {{ device.name }}</option>
            </select>
            <br />

            <div class="animated fadeIn" *ngIf="currentDevice != null">
                <div class="input-group">
                    <span class="input-group-addon">Nom</span>
                    <input type="text" class="form-control" [(ngModel)]="devices[currentDevice].name">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">EUID</span>
                    <input type="text" class="form-control" [(ngModel)]="devices[currentDevice].hwid">
                </div>
                <br />

                <!-- Energy -->
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3" style="height: 2em;">
                        <img src="app/static/battery-icon.png" style="width: 2em; height: 2em;" />
                        <span style="padding-left: 10px; display: inline-block; line-height: 2em; ">
                            <strong>Energy Level</strong>
                        </span>
                    </div> 
                    <div class="col-xs-6 col-sm-8 col-md-9">
                        <div class="battery-container">
                            <div class="battery-inner" [style.width]="devices[currentDevice].batteryLevel + '%'" [style.background]="getBackground(devices[currentDevice].batteryLevel)" >
                                <strong style="background-color: rgba(255, 255, 255, 0.75); border-radius: 5px;" >{{ devices[currentDevice].batteryLevel }} %</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div *ngIf="currentDevice == null">
                No selected device.
            </div>

        </div>
    </div>
</div>