<!-- <div class="modal fade" [id]="getModalId()">-->

<div class="container" *ngIf="currentRegata != null && currentRace != null">
    <breadcumb
        [labels]="['Dashboard', 'Regatas', currentRegata.name, currentRace.name]"
        [routes]="[['/dashboard'], 
                    ['/dashboard/regatas'],
                    ['/dashboard/regatas/', currentRegata.identifier],
                    ['/dashboard/regatas/', currentRegata.identifier, 'races', indexRace, 'edit']]">
    </breadcumb>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title" style="font-size: 1.5em;"><strong>Race Edition:</strong> {{ currentRace.name }} </div>
        </div><br />

        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">New name</span>
                <input type="text" class="form-control" [(ngModel)]="currentRace.name">
            </div><br />

                <div class="input-group">
                <span class="input-group-addon">New Start Date</span>
                <input type="text" class="form-control" [(ngModel)]="currentRace.startDate">
            </div><br />

            <div class="input-group">
                <span class="input-group-addon">New End Date</span>
                <input type="text" class="form-control" [(ngModel)]="currentRace.endDate">
            </div><br />
        </div>     

        <!-- display existing racers for current race -->
        <div class="list-group">
            <div *ngFor="let racer of currentRace.concurrents; let i = index" class="list-group-item">
                <h4 class="list-group-item-heading">{{ racer.skipperName }} - {{racer.boatIdentifier }} - {{racer.device.hwid }}</h4>
                <div class="list-group-item-text">
                    <div class="row">                            
                        <div class="col-xs-6" style="text-align: right">
                            <button type="button" class="btn btn-default btn-sm" [routerLink]="[i, 'edit']"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-default btn-sm" (click)="onRemoveRacer(i)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- add a new racer for current race when clicked -->
        <div class="row"><br />
            <div class="col-xs-2 col-md-1">
                <div style="text-align: left;" class="btn-group" role="group">
                    <button type="button" class="btn btn-default" style="margin-left:50px;" [routerLink]="['newracer']"><span class="glyphicon glyphicon-plus"></span> Add a racer</button>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-xs-3 col-md-2">
                <div style="position:relative; left:608%;" class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" [routerLink]="['/dashboard/regatas/', currentRegata.identifier]" (click)="onSaveRace()"><a style="color: white;">Save Race </a><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div><br /><br /><br />
        </div>
    </div>
</div>

<!-- </div>-->