<div class="modal fade">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title" style="font-size: 1.5em; height: 125px;"><strong>Race Edition:</strong> {{ currentRace.name }} </div>
            </div>

            <div class="modal-body">
                <div class="input-group" style="width:1050px;">
                    <span class="input-group-addon">New name</span>
                    <input type="text" class="form-control" [(ngModel)]="currentRace.name">
                </div>
            </div>     

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <div style="position:relative; left:565%;" class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" (click)="onSaveRace()"><a style="color: white;">Save Race </a><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </div>           
            </div>
            
        </div>
    </div>
</div>

<!--
    <br /><div class="container">
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <div class="container">
                <div class="row"><br />
                    <div class="col-xs-12 col-md-8" style="font-size: 1.5em; height: 125px;"><strong>Race Edition:</strong> {{ currentRace.name }} 
                        <br /><br />
                        <div class="input-group" style="width:1050px;">
                            <span class="input-group-addon">New name</span>
                            <input type="text" class="form-control" [(ngModel)]="currentRace.name">
                        </div>
                    </div>
                </div>
            </div>                    
        </div>

        <div class="panel-body">
            <div class="container" >
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <div style="position:relative; left:565%;" class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" (click)="onSaveRace()"><a style="color: white;">Save Race </a><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>           
</div>
-->
