<div>
    <!-- Player -->
    <div style="border: 1px solid gray">
        <img style="display: none" #mapImg [src]="getLakeImageUrl()"/>
        <div #mapCanvasContainer class="">
                <canvas style="display: block" #mapCanvas></canvas>
        </div>

        <div style="background: #EEEEEE">
            <slider [(value)]="currentTime" [minValue]="getMinTime()" [maxValue]="getMaxTime()"></slider>
            
            <div class="row" style="text-align: center; margin-top: -0.90em">
                <h3>
                    <span class="label label-default">Vitesse x{{ speed }}</span>
                    <button class="btn btn-default" (click)="speedDown()"><span class="glyphicon glyphicon-backward"></span></button>
                    <button class="btn btn-default" *ngIf="isPlaying" (click)="isPlaying = false"><span class="glyphicon glyphicon-pause"></span></button>
                    <button class="btn btn-default" *ngIf="!isPlaying" (click)="isPlaying = true"><span class="glyphicon glyphicon-play"></span></button>
                    <button class="btn btn-default" (click)="speedUp()"><span class="glyphicon glyphicon-forward"></span></button>
                    <span class="label label-default">{{ getTimeString(currentTime) }}</span>
                </h3>
                
            </div>
        </div>
    </div>

    <!-- Player options -->
    <br />
    <div style="text-align: center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" (click)="toogleShowTrajectory()">
                <span *ngIf="showTrajectory">Hide trajectory</span>
                <span *ngIf="!showTrajectory">Show trajectory</span>
            </button>

            <button type="button" class="btn btn-default" (click)="showAllDevices()">Show all devices</button>

            <button type="button" class="btn btn-default" (click)="hideAllDevices()">Hide all devices</button>
        </div>
    </div>

    <!-- Racers show / hide -->
    <div class="row">
        <div *ngFor="let devId of getDevices()" class="col-xs-6 col-md-3 col-lg-2">
            <div class="row" style="line-height: 3em">
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-default"
                            *ngIf="getDeviceOpts(devId).show"
                            (click)="getDeviceOpts(devId).show = false">
                        Hide
                    </button>
                    <button class="btn btn-default"
                            *ngIf="getDeviceOpts(devId).show == false"
                            (click)="getDeviceOpts(devId).show = true">
                        Show
                    </button>
                    <span [style.color]="getDeviceOpts(devId).color">
                     {{ getRacer(devId).skipperName }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>