<!-- <div class="modal fade" [id]="getModalId()">-->

    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title" style="font-size: 1.5em; height: 125px;"><strong>Racer Edition:</strong> {{ currentRacer.skipperName }} </div>
            </div><br />

            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">New name</span>
                    <input type="text" class="form-control" [(ngModel)]="currentRacer.skipperName">
                </div><br />
            </div>
        </div>
     </div>
<!-- </div>-->