<!-- <div class="modal fade" [id]="getModalId()">-->

    <div class="modal-dialog" role="dialog" *ngIf="currentRegata != null && currentRace != null">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title" style="font-size: 1.5em; height: 125px;"><strong>Race Edition:</strong> {{ currentRace.name }} </div>
            </div><br />

            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">New name</span>
                    <input type="text" class="form-control" [(ngModel)]="currentRace.name">
                </div><br />

                 <div class="input-group">
                    <span class="input-group-addon">New Start Date</span>
                    <input type="text" class="form-control" [(ngModel)]="currentRace.startDate">
                </div><br />

                <div class="input-group">
                    <span class="input-group-addon">New End Date</span>
                    <input type="text" class="form-control" [(ngModel)]="currentRace.endDate">
                </div><br />
            </div>     

            <!-- display existing racers for current race -->
            <div *ngFor="let racer of currentRace.concurrents; let i = index" style="text-align: left; margin-left:50px;" class="btn-group" role="group">
                <button type="button" class="btn btn-default" style="background-color:#f3bebe; margin-bottom:10px;" [routerLink]="[i, 'edit']"><span class="glyphicon glyphicon-pencil"></span>  {{ racer.skipperName }}</button>
                <button type="button" class="btn btn-default" style="margin-bottom:10px;"><span class="glyphicon glyphicon-view"></span>  {{racer.boatIdentifier }}</button>
                <button type="button" class="btn btn-default" style="margin-right:10px; margin-bottom:10px;"><span class="glyphicon glyphicon-view"></span>  {{racer.device.identifier }}</button>
            </div>

            <!-- add a new racer for current race when clicked -->
            <div class="row"><br />
                <div class="col-xs-2 col-md-1">
                    <div style="text-align: left;" class="btn-group" role="group">
                            <button type="button" class="btn btn-default" style="margin-left:50px;" [routerLink]="['newracer']"><span class="glyphicon glyphicon-plus"></span> Add a racer</button>
                    </div>
                </div>
            </div><br />
                
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <div style="position:relative; left:565%;" class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" [routerLink]="['/dashboard/regatas/', currentRegata.identifier]" (click)="onSaveRace()"><a style="color: white;">Save Race </a><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
     </div>

<!-- </div>-->