<div class="container animated fadeInUp">

    <div class="material-box material-box-fit">
        <div class="material-box-title">Actions</div>
        <a [routerLink]="['/regata-edit', 'new']"class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nouvelle régate</a>
    </div>

    <!-- 
        UPCOMING REGATAS
    -->
    <div class="material-box material-box-fit">
        <div class="material-box-title">Prochaines régates</div>
        <div *ngFor="let regata of regataSvc.upcomingRegatas">
            <regata-view [regata]="regata"></regata-view>
        </div>
    </div>



    <!-- 
        PAST REGATAS
    -->

    <div class="material-box material-box-fit">
        <div class="material-box-title">Dernières régates</div>
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    
                    <li *ngFor="let page of getDisplayedPages()"
                        [class.active]="page == pastRegatasPage"
                        (click)="setPage(page)"
                        >
                        <a routerLink="/regatas" [ngSwitch]="page">
                            <span *ngSwitchCase="0">First</span>
                            <span *ngSwitchCase="getPagesCount()-1">Last</span>
                            <span *ngSwitchDefault>{{page}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div style="text-align: center" *ngIf="regataSvc.pastRegatas == 0">
            <h4>No item to display.</h4>
        </div>

        <div *ngFor="let regata of regataSvc.pastRegatas">
            <regata-view [regata]="regata"></regata-view>
        </div>
    </div>
</div>