<div #panel class="panel panel-default animated fadeIn">
    <div class="panel-heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-md-10" style="font-size: 1.5em">{{ regata.name }}</div>
                <div class="col-xs-3 col-md-2">
                    <div style="text-align: center;" class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" (click)="onRemove()"><span class="glyphicon glyphicon-trash"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-2"><span class="glyphicon glyphicon-map-marker"></span> <b>Location</b></div>
                <div class="col-xs-8 col-md-10">{{ regata.location }}</div>
            </div>
        
            <div class="row">
                <div class="col-xs-4 col-md-2"><span class="glyphicon glyphicon-time"></span> Start Date</div>
                <div class="col-xs-8 col-md-10">{{ regata.startDate }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-2"><span class="glyphicon glyphicon-time"></span> End Date</div>
                <div class="col-xs-8 col-md-10">{{ regata.endDate }}</div>
            </div>
        </div>
    </div>
</div>