<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" routerLink="">IoTracking</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ getUsername() }} <span class="caret"></span></a>
                
                <ul class="dropdown-menu">
                    <!-- logout -->
                    <li *ngIf="isLogged()">
                        <a [routerLink]="[]" (click)="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Déconnexion</a>
                    </li>
                    <!-- login -->
                    <li *ngIf="!isLogged()">
                        <a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Connexion</a>
                    </li>

                    <div *ngIf="isStaff()">
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Dashboard</a></li>
                    </div>
                </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>

