<!-- <div class="modal fade" [id]="getModalId()"> -->

<div class="container" *ngIf="currentRegata != null && currentRace != null">
    <notification></notification>
    <staff-guard></staff-guard>
    <breadcumb
            [labels]="['Dashboard', 'Regatas', currentRegata.name, currentRace.name]"
            [routes]="[['/dashboard'], 
                        ['/dashboard/regatas'],
                        ['/dashboard/regatas/', currentRegata.identifier],
                        ['/dashboard/regatas/', isNew ? 'new' : currentRegata.identifier, 'races', raceId, 'edit']]">
    </breadcumb>

    <div class="container" style="margin-top:30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" style="font-size: 1.5em;"><strong>Edition de Course : {{ currentRace.name }}</strong></div>
            </div>

            <div class="panel-body" style="margin-left:140px; margin-right:140px;">
                <div class="row" ><br />
                    <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker"></span> <b>Nom de la course</b></div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" [(ngModel)]="currentRace.name">
                    </div>
                    <div *ngIf="missName == true" style="margin-left:20px; color:red;">
                        Le nom de la course doit être renseigné.
                    </div><br />
                </div>

                <div class="row" ><br />
                    <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker"></span> <b>Carte </b></div>
                    <div class="col-xs-8">
                        <select class="form-control" [(ngModel)]="currentRace.map">
                            <option *ngFor="let map of racemaps" [value]="map.identifier">
                                {{ map.name }}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="missMap == true" style="margin-left:20px; color:red;">
                        La carte de la course doit être renseignée.
                    </div><br />
                </div>

                <div class="row" ><br />
                    <div class="col-xs-4"><span class="glyphicon glyphicon-time"></span> <b>Date de début</b></div>
                    <div class="col-xs-8">
                        <datepicker [(timestamp)]="currentRace.startDate"></datepicker>
                    </div>
                    <div *ngIf="missName == true" style="margin-left:20px; color:red;">
                        La date de début doit être renseignée.
                    </div><br />
                </div>

                <div class="row" ><br />
                    <div class="col-xs-4"><span class="glyphicon glyphicon-time"></span> <b>Date de fin</b></div>
                    <div class="col-xs-8">
                        <datepicker [(timestamp)]="currentRace.endDate"></datepicker>
                    </div>
                    <div *ngIf="missName == true" style="margin-left:20px; color:red;">
                        La date de fin doit être renseignée.
                    </div>
                </div><br />

                <!-- add a new racer for current race when clicked -->
                <span *ngIf="currentRace != null">
                    <button type="button" class="btn btn-default;btn pull-left" (click)="onNewRacer()"><span class="glyphicon glyphicon-plus"></span> Ajouter un coureur</button>
                </span>

                 <div class="btn-group;btn pull-right" role="group">
                    <button type="button" class="btn btn-default" (click)="onCancel()"><a style="color: black;">Annuler </a><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-primary" (click)="onSaveRace()"><a style="color: white;">Enregistrer </a><span class="glyphicon glyphicon-ok"></span></button>
                </div><br />

                

                <div *ngIf="currentRace == null" style="text-align:left; margin-left:1.5%;">
                    Veuillez donner un nom à la course et l'enregistrer avant d'ajouter des participants.
                    <br /><br />
                </div>

                <div *ngIf="currentRace.concurrents != null"><br /><br />
                    
                    <!-- display existing racers for current race -->
                    <div class="list-group">
                        <div *ngFor="let racer of currentRace.concurrents; let i = index" class="list-group-item" style="margin-bottom:-1px;">
                        
                            <h4 class="list-group-item-heading">{{ racer.skipperName }}</h4>

                            <div class="list-group-item-text">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <i class="glyphicon glyphicon-boat"></i>
                                        {{ racer.boatIdentifier }}
                                    </div>
                                    
                                    <div class="col-xs-6" style="text-align: right">
                                        <button type="button" class="btn btn-default btn-sm" [routerLink]="[i, 'edit']"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="onRemoveRacer(i)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>     
</div>


            

